<div class="jumbotron jumbotron-fluid mb-0 pb-2 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <blockquote class="blockquote">
                <p class="mb-0">Education is not preparation for life; education is life itself.</p>
                <footer class="blockquote-footer">John Dewey</footer>
                </blockquote>
            </div>
            <div class="col-md-4">
                <small class="text-muted align-middle">&copy;2017 CampusGo, Inc.</small>
            </div>
        </div>
    </div>
</div>
