<meta property="og:title" content="CampusGo" />
<meta property="og:type" content="article" />
<meta property="og:image" content="http://campusgo.org/media/share-social.jpg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:url" content="http://campusgo.org" />
<meta property="og:description" content="We help young people realize their college dreams through college access programs and campus visits." />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="CampusGo" />
<meta name="twitter:site" content="@campusgoer">
<meta name="twitter:creator" content="@campusgoer">
<meta name="twitter:description" content="We help young people realize their college dreams through college access programs and campus visits." />
<meta name="twitter:image" content="http://campusgo.org/media/share-social.jpg" />