--- 
layout: default
---

<div class="d-flex justify-content-between my-5 align-items-center hidden-md-down">
    <h1 class="display-2">{{page.title}}</h1>
    <div class="fb-share-button" data-href="http://campusgo.org{{page.url}}" data-layout="button" data-size="large" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcampusgo.org%2Fprograms%2Fapplication-advisory%2F&amp;src=sdkpreparse">Share</a></div>
</div>
<div class="hidden-lg-up text-center text-md-left">
   <h1 class="display-4">{{page.title}}</h1>
   <div class="fb-share-button" data-href="http://campusgo.org{{page.url}}" data-layout="button" data-size="large" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcampusgo.org%2Fprograms%2Fapplication-advisory%2F&amp;src=sdkpreparse">Share</a></div>
</div>
<hr class="my-3" />
<article class="pt-3">
    {{content}}
</article>